@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Job App DB</h1>
    <p>Track all job application in 2022 software engineer job search</a>.</p>
</div>
